@model CountryEditVM
@{
    ViewData["Title"] = "CountryEdit";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

<div>
    <h5 class="card-title">Editovat země</h5>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="SuperAdmin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="SuperAdmin" asp-controller="Country" asp-action="CountryList">Země</a></li>
            <li class="breadcrumb-item active"><a asp-area="SuperAdmin" asp-controller="Country" asp-action="CountryEdit">Editovat</a></li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body mt-3">
        <form asp-area="SuperAdmin" asp-controller="Country" asp-action="CountryEdit" method="post" class="row g-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="RowVersion" />
            <div class="col-md-4">
                <div class="text-end mx-3">
                    <small id="NumericCountryCodeCount3" class="form-text">0/3</small>
                </div>
                <div class="form-floating">
                    <input asp-for="NumericCountryCode" type="text" class="form-control" id="NumericCountryCode" placeholder="Číselný kód země">
                    <label asp-for="NumericCountryCode">Číselný kód země</label>
                    <span asp-validation-for="NumericCountryCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-end mx-3">
                    <small id="ISOAlpha2Count2" class="form-text">0/2</small>
                </div>
                <div class="form-floating">
                    <input asp-for="ISOAlpha2" type="text" class="form-control" id="ISOAlpha2" placeholder="ISOAlpha2">
                    <label asp-for="ISOAlpha2">ISOAlpha2</label>
                    <span asp-validation-for="ISOAlpha2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-end mx-3">
                    <small id="ISOAlpha3Count3" class="form-text">0/3</small>
                </div>
                <div class="form-floating">
                    <input asp-for="ISOAlpha3" type="text" class="form-control" id="ISOAlpha3" placeholder="ISOAlpha3">
                    <label asp-for="ISOAlpha3">ISOAlpha3</label>
                    <span asp-validation-for="ISOAlpha3" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-end mx-3">
                    <small id="CountryNameCZCount50" class="form-text">0/3</small>
                </div>
                <div class="form-floating">
                    <input asp-for="CountryNameCZ" type="text" class="form-control" id="CountryNameCZ" placeholder="Název (cz)">
                    <label asp-for="CountryNameCZ">Název (cz)</label>
                    <span asp-validation-for="CountryNameCZ" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-end mx-3">
                    <small id="CountryNameENGCount50" class="form-text">0/3</small>
                </div>
                <div class="form-floating">
                    <input asp-for="CountryNameENG" type="text" class="form-control" id="CountryNameENG" placeholder="Název (eng)">
                    <label asp-for="CountryNameENG">Název (eng)</label>
                    <span asp-validation-for="CountryNameENG" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <a asp-area="SuperAdmin" asp-controller="Currency" asp-action="CurrencyCreate" class="btn btn-success btn-sm px-2 mb-2" name="Id"><i class="bi bi-plus-lg"></i> Vytvořit měnu</a>
                <select class="form-select" aria-label="Default select example" asp-items=ViewBag.Currency asp-for="CurrencyId">
                    <option selected>Přiřadit měnu</option>
                </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <div class="form-check form-switch">
                    <input asp-for="IsActive" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label asp-for="IsActive" class="form-check-label" for="flexSwitchCheckDefault">Aktivní/neaktivní</label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Uložit změny</button>
                <button type="reset" class="btn btn-secondary">Vrátit změny</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        setupLiveCharacterCount('NumericCountryCode', 'NumericCountryCodeCount3', 3);
        setupLiveCharacterCount('ISOAlpha2', 'ISOAlpha2Count2', 2);
        setupLiveCharacterCount('ISOAlpha3', 'ISOAlpha3Count3', 3);
        setupLiveCharacterCount('CountryNameCZ', 'CountryNameCZCount50', 50);
        setupLiveCharacterCount('CountryNameENG', 'CountryNameENGCount50', 50);
    </script>
}